.edit-container {
    --dec-width: 20px;
    --dec-height: 100%;
    --dec-arm-width: 30px;
    --dec-arm-height: 6px;
    --transition-duration: 0.15s;

    background-color: darkslateblue;
    border-radius: 5px;
    position: relative;
    display: block;
    margin: 10px 5px;
    padding: 5px calc(var(--dec-width));
    border: 1px solid gold;
    font-weight: bold;
    cursor: pointer;

    transition: var(--transition-duration);
}

.edit-container:hover {
    transform: translateX(6px);
}

.edit-decoration {
    position: absolute;
    background-color: goldenrod;
    width: var(--dec-width);
    height: calc(var(--dec-height) + 8px);
    top: 50%;
    transform: translateY(-50%);

    transition: 0.15s;
}

.edit-container:active .edit-decoration--left {
    transform: translateY(-50%) translateX(3px);
}

.edit-container:active .edit-decoration--right {
    transform: translateY(-50%) translateX(-3px);
}

.edit-container:active .edit-decoration, .edit-container:active .edit-decoration::after, .edit-container:active .edit-decoration::before {
    background-color: gold;
}

.edit-decoration--left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    left: -11px;
}

.edit-decoration--right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    right: -11px;
}

.edit-decoration--left::before, .edit-decoration--left::after, .edit-decoration--right::before, .edit-decoration--right::after {
    content: "";
    position: absolute;
    width: var(--dec-arm-width);
    height: var(--dec-arm-height);
    background-color: goldenrod;

    transition: var(--transition-duration);
}

.edit-decoration--left::before, .edit-decoration--left::after {
    left: var(--dec-width);
}

.edit-decoration--right::before, .edit-decoration--right::after {
    right: var(--dec-width);
}

.edit-decoration--left::before, .edit-decoration--right::before {
    top: 0;
}

.edit-decoration--left::after, .edit-decoration--right::after {
    bottom: 0;
}

.edit-decoration--left::before {
    border-top-right-radius: 5px;
}

.edit-decoration--left::after {
    border-bottom-right-radius: 5px;
}

.edit-decoration--right::before {
    border-top-left-radius: 5px;
}

.edit-decoration--right::after {
    border-bottom-left-radius: 5px;
}